In [1]:
import pandas as pd 
import numpy as np 
import geopandas as gpd 
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)
%matplotlib inline

In [24]:
gdf = gpd.read_file('/Users/ananyarajesh/Downloads/nynta2020_23a/nynta2020.shp')

In [25]:
geo = gpd.read_file('/Users/ananyarajesh/Downloads/nyct2020_23a/nyct2020.shp')

In [26]:
geo.rename(columns={'GEOID': 'geoid'}, inplace=True)

In [27]:
geo

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,geoid,Shape_Leng,Shape_Area,geometry
0,1,1,Manhattan,000100,1000100,None,The Battery-Governors Island-Ellis Island-Libe...,MN0191,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061000100,11023.048501,1.844421e+06,"MULTIPOLYGON (((972081.788 190733.467, 972184...."
1,2.01,1,Manhattan,000201,1000201,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4754.495247,9.723121e+05,"POLYGON ((988548.218 197770.375, 987978.808 19..."
2,6,1,Manhattan,000600,1000600,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,6976.286456,2.582705e+06,"POLYGON ((986961.185 199553.643, 987206.139 19..."
3,14.01,1,Manhattan,001401,1001401,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,5075.332000,1.006117e+06,"POLYGON ((987475.016 200297.218, 987705.443 20..."
4,14.02,1,Manhattan,001402,1001402,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4459.156019,1.226206e+06,"POLYGON ((988387.669 201258.312, 988621.002 20..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,77,5,Staten Island,007700,5007700,None,St. George-New Brighton,SI0101,SI01,SI01 North Shore (CD 1 Equivalent),36085007700,7325.091410,2.674908e+06,"POLYGON ((960079.550 172579.473, 960047.713 17..."
2321,19.02,4,Queens,001902,4001902,None,Long Island City-Hunters Point,QN0201,QN02,QN02 Long Island City-Sunnyside-Woodside (CD 2...,36081001902,5659.156615,1.909110e+06,"POLYGON ((1001743.809 211953.007, 1001806.690 ..."
2322,171.01,4,Queens,017101,4017101,None,Sunnyside Yards (South),QN0261,QN02,QN02 Long Island City-Sunnyside-Woodside (CD 2...,36081017101,22732.905385,8.783519e+06,"POLYGON ((1009266.586 212445.412, 1008736.256 ..."
2323,475,4,Queens,047500,4047500,None,Elmhurst,QN0401,QN04,QN04 Elmhurst-Corona (CD 4 Approximation),36081047500,8890.142310,3.028836e+06,"POLYGON ((1018955.769 206946.191, 1019047.521 ..."
2324,687,4,Queens,068700,4068700,None,Rego Park,QN0601,QN06,QN06 Forest Hills-Rego Park (CD 6 Approximation),36081068700,8338.971957,2.999985e+06,"POLYGON ((1021809.815 205661.173, 1021790.813 ..."

In [28]:
gdf

,BoroCode,BoroName,CountyFIPS,NTA2020,NTAName,NTAAbbrev,NTAType,CDTA2020,CDTAName,Shape_Leng,Shape_Area,geometry
0,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,3.532185e+07,"POLYGON ((1003059.997 204572.025, 1002991.367 ..."
1,3,Brooklyn,047,BK0102,Williamsburg,Wllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28158.316197,2.886214e+07,"POLYGON ((994849.011 203499.267, 994911.093 20..."
2,3,Brooklyn,047,BK0103,South Williamsburg,SWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),18250.280262,1.520896e+07,"POLYGON ((998047.210 196303.325, 998157.901 19..."
3,3,Brooklyn,047,BK0104,East Williamsburg,EWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),43184.772815,5.226621e+07,"POLYGON ((1005302.497 199455.730, 1005307.792 ..."
4,3,Brooklyn,047,BK0201,Brooklyn Heights,BkHts,0,BK02,BK02 Downtown Brooklyn-Fort Greene (CD 2 Appro...,14312.504911,9.982322e+06,"POLYGON ((986367.735 190549.239, 985813.835 19..."
...,...,...,...,...,...,...,...,...,...,...,...,...
257,5,Staten Island,085,SI0391,Freshkills Park (South),FrshklPK_S,9,SI03,SI03 South Shore (CD 3 Approximation),33945.420291,4.775877e+07,"POLYGON ((928531.433 150471.714, 929005.649 15..."
258,5,Staten Island,085,SI9561,Fort Wadsworth,FtWdswrth,6,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,14816.104455,9.864874e+06,"POLYGON ((967656.829 155637.132, 967549.629 15..."
259,5,Staten Island,085,SI9591,Hoffman & Swinburne Islands,HffmnIsl,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.128127,6.357020e+05,"MULTIPOLYGON (((970217.022 145643.332, 970227...."
260,5,Staten Island,085,SI9592,Miller Field,MllrFld,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,19197.200973,1.086680e+07,"POLYGON ((960721.609 147492.642, 960370.525 14..."
261,5,Staten Island,085,SI9593,Great Kills Park,GrtKlsPk,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,41465.430028,2.337791e+07,"POLYGON ((952739.319 138974.819, 952732.507 13..."

In [29]:
inc = pd.read_csv('/Users/ananyarajesh/Desktop/MLC_Data/income-censustracts.csv')

In [30]:
inc

            geoid    Tract County Name State  Median Income  Population
0     36005000100     1.00       Bronx    NY            NaN        6661
1     36005000200     2.00       Bronx    NY        72194.0        4453
2     36005000400     4.00       Bronx    NY       111250.0        6000
3     36005001600    16.00       Bronx    NY        49866.0        6038
4     36005001901    19.01       Bronx    NY        53065.0        2168
...           ...      ...         ...   ...            ...         ...
2322  36085030302   303.02    Richmond    NY        96163.0        6663
2323  36085031901   319.01    Richmond    NY        43569.0        3422
2324  36085031902   319.02    Richmond    NY       107009.0        5298
2325  36085032300   323.00    Richmond    NY       116875.0        1105
2326  36085990100  9901.00    Richmond    NY            NaN           0

[2327 rows x 6 columns]

In [31]:
#gdf['County Name'] = gdf['County Name'].replace({'Staten Island': ' Richmond', 'Manhattan': ' New York', 'Brooklyn': ' Kings',  'Queens': ' Queens',  'Bronx': ' Bronx'})

In [32]:
geo['geoid'] = geo['geoid'].astype(str)
inc['geoid'] = inc['geoid'].astype(str)

In [33]:
ct = pd.merge(geo, inc, on='geoid')

In [34]:
ct

,CTLabel,BoroCode,BoroName,CT2020,BoroCT2020,CDEligibil,NTAName,NTA2020,CDTA2020,CDTANAME,geoid,Shape_Leng,Shape_Area,geometry,Tract,County Name,State,Median Income,Population
0,1,1,Manhattan,000100,1000100,None,The Battery-Governors Island-Ellis Island-Libe...,MN0191,MN01,MN01 Financial District-Tribeca (CD 1 Equivalent),36061000100,11023.048501,1.844421e+06,"MULTIPOLYGON (((972081.788 190733.467, 972184....",1.00,New York,NY,NaN,0
1,2.01,1,Manhattan,000201,1000201,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000201,4754.495247,9.723121e+05,"POLYGON ((988548.218 197770.375, 987978.808 19...",2.01,New York,NY,31250.0,2740
2,6,1,Manhattan,000600,1000600,None,Chinatown-Two Bridges,MN0301,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061000600,6976.286456,2.582705e+06,"POLYGON ((986961.185 199553.643, 987206.139 19...",6.00,New York,NY,33585.0,10732
3,14.01,1,Manhattan,001401,1001401,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001401,5075.332000,1.006117e+06,"POLYGON ((987475.016 200297.218, 987705.443 20...",14.01,New York,NY,119750.0,3071
4,14.02,1,Manhattan,001402,1001402,None,Lower East Side,MN0302,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),36061001402,4459.156019,1.226206e+06,"POLYGON ((988387.669 201258.312, 988621.002 20...",14.02,New York,NY,NaN,3133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,77,5,Staten Island,007700,5007700,None,St. George-New Brighton,SI0101,SI01,SI01 North Shore (CD 1 Equivalent),36085007700,7325.091410,2.674908e+06,"POLYGON ((960079.550 172579.473, 960047.713 17...",77.00,Richmond,NY,82038.0,1646
2321,19.02,4,Queens,001902,4001902,None,Long Island City-Hunters Point,QN0201,QN02,QN02 Long Island City-Sunnyside-Woodside (CD 2...,36081001902,5659.156615,1.909110e+06,"POLYGON ((1001743.809 211953.007, 1001806.690 ...",19.02,Queens,NY,193750.0,4143
2322,171.01,4,Queens,017101,4017101,None,Sunnyside Yards (South),QN0261,QN02,QN02 Long Island City-Sunnyside-Woodside (CD 2...,36081017101,22732.905385,8.783519e+06,"POLYGON ((1009266.586 212445.412, 1008736.256 ...",171.01,Queens,NY,NaN,0
2323,475,4,Queens,047500,4047500,None,Elmhurst,QN0401,QN04,QN04 Elmhurst-Corona (CD 4 Approximation),36081047500,8890.142310,3.028836e+06,"POLYGON ((1018955.769 206946.191, 1019047.521 ...",475.00,Queens,NY,74786.0,5178
2324,687,4,Queens,068700,4068700,None,Rego Park,QN0601,QN06,QN06 Forest Hills-Rego Park (CD 6 Approximation),36081068700,8338.971957,2.999985e+06,"POLYGON ((1021809.815 205661.173, 1021790.813 ...",687.00,Queens,NY,67083.0,4354

In [50]:
m = gpd.sjoin(gdf, ct, how='inner')

In [51]:
m

,BoroCode_left,BoroName_left,CountyFIPS,NTA2020_left,NTAName_left,NTAAbbrev,NTAType,CDTA2020_left,CDTAName,Shape_Leng_left,...,CDTA2020_right,CDTANAME,geoid,Shape_Leng_right,Shape_Area_right,Tract,County Name,State,Median Income,Population
0,3,Brooklyn,047,BK0101,Greenpoint,Grnpt,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28914.172236,...,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
3,3,Brooklyn,047,BK0104,East Williamsburg,EWllmsbrg,0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),43184.772815,...,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
11,3,Brooklyn,047,BK0401,Bushwick (West),Bshwck_W,0,BK04,BK04 Bushwick (CD 4 Equivalent),23685.207028,...,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
175,4,Queens,081,QN0501,Maspeth,Mspth,0,QN05,QN05 Ridgewood-Maspeth-Middle Village (CD 5 Ap...,53782.106381,...,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
176,4,Queens,081,QN0502,Ridgewood,Rdgwd,0,QN05,QN05 Ridgewood-Maspeth-Middle Village (CD 5 Ap...,33459.283498,...,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,5,Staten Island,085,SI0305,Tottenville-Charleston,Tttnvl,0,SI03,SI03 South Shore (CD 3 Approximation),82939.264119,...,SI03,SI03 South Shore (CD 3 Approximation),36085024401,24555.188591,2.256112e+07,244.01,Richmond,NY,127889.0,5704
255,5,Staten Island,085,SI0304,Annadale-Huguenot-Prince's Bay-Woodrow,Anndl_Wdrw,0,SI03,SI03 South Shore (CD 3 Approximation),67592.595333,...,SI03,SI03 South Shore (CD 3 Approximation),36085019800,44056.044221,6.132769e+07,198.00,Richmond,NY,98676.0,7733
256,5,Staten Island,085,SI0305,Tottenville-Charleston,Tttnvl,0,SI03,SI03 South Shore (CD 3 Approximation),82939.264119,...,SI03,SI03 South Shore (CD 3 Approximation),36085019800,44056.044221,6.132769e+07,198.00,Richmond,NY,98676.0,7733
256,5,Staten Island,085,SI0305,Tottenville-Charleston,Tttnvl,0,SI03,SI03 South Shore (CD 3 Approximation),82939.264119,...,SI03,SI03 South Shore (CD 3 Approximation),36085024800,31777.798662,1.760130e+07,248.00,Richmond,NY,134065.0,4864
259,5,Staten Island,085,SI9591,Hoffman & Swinburne Islands,HffmnIsl,9,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,4743.128127,...,SI95,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,36085990100,4743.128127,6.357020e+05,9901.00,Richmond,NY,NaN,0

In [52]:
m.shape

(5447, 31)

In [53]:
m.columns

Index(['BoroCode_left', 'BoroName_left', 'CountyFIPS', 'NTA2020_left',
       'NTAName_left', 'NTAAbbrev', 'NTAType', 'CDTA2020_left', 'CDTAName',
       'Shape_Leng_left', 'Shape_Area_left', 'geometry', 'index_right',
       'CTLabel', 'BoroCode_right', 'BoroName_right', 'CT2020', 'BoroCT2020',
       'CDEligibil', 'NTAName_right', 'NTA2020_right', 'CDTA2020_right',
       'CDTANAME', 'geoid', 'Shape_Leng_right', 'Shape_Area_right', 'Tract',
       'County Name', 'State', 'Median Income', 'Population'],
      dtype='object')

In [55]:
m = m.drop(['BoroCode_left', 'NTA2020_left',
       'NTAAbbrev', 'CDTA2020_left',
       'Shape_Leng_left', 'Shape_Area_left', 'geometry', 'index_right', 'BoroCode_right', 'BoroName_right', 'CT2020', 'BoroCT2020',
       'CDEligibil', 'NTA2020_right', 'CDTA2020_right',
       'CDTANAME'], axis=1)

In [56]:
m

,BoroName_left,CountyFIPS,NTAName_left,NTAType,CDTAName,CTLabel,NTAName_right,geoid,Shape_Leng_right,Shape_Area_right,Tract,County Name,State,Median Income,Population
0,Brooklyn,047,Greenpoint,0,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),449.02,East Williamsburg,36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
3,Brooklyn,047,East Williamsburg,0,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),449.02,East Williamsburg,36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
11,Brooklyn,047,Bushwick (West),0,BK04 Bushwick (CD 4 Equivalent),449.02,East Williamsburg,36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
175,Queens,081,Maspeth,0,QN05 Ridgewood-Maspeth-Middle Village (CD 5 Ap...,449.02,East Williamsburg,36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
176,Queens,081,Ridgewood,0,QN05 Ridgewood-Maspeth-Middle Village (CD 5 Ap...,449.02,East Williamsburg,36047044902,32966.325993,1.881395e+07,449.02,Kings,NY,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,Staten Island,085,Tottenville-Charleston,0,SI03 South Shore (CD 3 Approximation),244.01,Tottenville-Charleston,36085024401,24555.188591,2.256112e+07,244.01,Richmond,NY,127889.0,5704
255,Staten Island,085,Annadale-Huguenot-Prince's Bay-Woodrow,0,SI03 South Shore (CD 3 Approximation),198,Annadale-Huguenot-Prince's Bay-Woodrow,36085019800,44056.044221,6.132769e+07,198.00,Richmond,NY,98676.0,7733
256,Staten Island,085,Tottenville-Charleston,0,SI03 South Shore (CD 3 Approximation),198,Annadale-Huguenot-Prince's Bay-Woodrow,36085019800,44056.044221,6.132769e+07,198.00,Richmond,NY,98676.0,7733
256,Staten Island,085,Tottenville-Charleston,0,SI03 South Shore (CD 3 Approximation),248,Tottenville-Charleston,36085024800,31777.798662,1.760130e+07,248.00,Richmond,NY,134065.0,4864
259,Staten Island,085,Hoffman & Swinburne Islands,9,SI95 Great Kills Park-Fort Wadsworth (JIA 95 A...,9901,Hoffman & Swinburne Islands,36085990100,4743.128127,6.357020e+05,9901.00,Richmond,NY,NaN,0

In [80]:
merged =  m.groupby(['NTAName_left'], as_index=False).mean()

In [81]:
merged

,NTAName_left,Shape_Leng_right,Shape_Area_right,Tract,Median Income,Population
0,Allerton,7140.063793,3.398434e+06,322.006842,65019.941176,3117.473684
1,Alley Pond Park,17881.502895,1.120529e+07,1406.462727,111013.600000,4118.636364
2,Annadale-Huguenot-Prince's Bay-Woodrow,21803.742105,2.008474e+07,192.053684,128799.947368,5090.315789
3,Arden Heights-Rossville,21029.088085,2.196515e+07,195.406667,125170.384615,4266.533333
4,Astoria (Central),6523.232930,1.882701e+06,83.644643,95523.148148,3012.892857
...,...,...,...,...,...,...
257,Windsor Terrace-South Slope,7259.128733,3.918500e+06,343.107000,149138.833333,2884.850000
258,Woodhaven,7562.115845,3.207549e+06,243.240476,77661.666667,2885.523810
259,Woodlawn Cemetery,11861.660877,1.005005e+07,439.516250,71065.333333,2194.500000
260,Woodside,8653.792825,3.124062e+06,322.753750,78106.827586,3329.875000
261,Yankee Stadium-Macombs Dam Park,8590.962144,3.396973e+06,157.004286,42240.000000,6300.285714

In [114]:
# Define the custom aggregation function to calculate the weighted average
def weighted_average(group):
    weights = group['Population']
    values = group['Median Income']
    return (weights * values).sum() / weights.sum()

# Group the data by NTAName_left and apply the custom aggregation function
weighted_avg_df = m.groupby('NTAName_left').apply(weighted_average)

# Print the resulting DataFrame
weighted_avg_df

/var/folders/g5/l0bxynmx73s5ncy4_m69508r0000gn/T/ipykernel_88913/3889341249.py:5: RuntimeWarning: invalid value encountered in double_scalars
  return (weights * values).sum() / weights.sum()

NTAName_left
Allerton                                   62141.291295
Alley Pond Park                           107518.289372
Annadale-Huguenot-Prince's Bay-Woodrow    126245.529571
Arden Heights-Rossville                   123022.836526
Astoria (Central)                          99753.770961
                                              ...
Windsor Terrace-South Slope               142219.077040
Woodhaven                                  74809.918179
Woodlawn Cemetery                          61239.814878
Woodside                                   77868.121044
Yankee Stadium-Macombs Dam Park            41990.773933
Length: 262, dtype: float64

In [118]:
wa = pd.DataFrame(weighted_avg_df)
wa

                                                    0
NTAName_left
Allerton                                 62141.291295
Alley Pond Park                         107518.289372
Annadale-Huguenot-Prince's Bay-Woodrow  126245.529571
Arden Heights-Rossville                 123022.836526
Astoria (Central)                        99753.770961
...                                               ...
Windsor Terrace-South Slope             142219.077040
Woodhaven                                74809.918179
Woodlawn Cemetery                        61239.814878
Woodside                                 77868.121044
Yankee Stadium-Macombs Dam Park          41990.773933

[262 rows x 1 columns]

In [109]:
wa.columns

RangeIndex(start=0, stop=1, step=1)

In [119]:
wa = wa.rename(columns={0: "Weighted Median Income"})

In [121]:
wa = wa.reset_index()

In [122]:
wa

                               NTAName_left  Weighted Median Income
0                                  Allerton            62141.291295
1                           Alley Pond Park           107518.289372
2    Annadale-Huguenot-Prince's Bay-Woodrow           126245.529571
3                   Arden Heights-Rossville           123022.836526
4                         Astoria (Central)            99753.770961
..                                      ...                     ...
257             Windsor Terrace-South Slope           142219.077040
258                               Woodhaven            74809.918179
259                       Woodlawn Cemetery            61239.814878
260                                Woodside            77868.121044
261         Yankee Stadium-Macombs Dam Park            41990.773933

[262 rows x 2 columns]

In [123]:
income = pd.merge(merged, wa, on='NTAName_left')

In [124]:
income

,NTAName_left,Shape_Leng_right,Shape_Area_right,Tract,Median Income,Population,Weighted Median Income
0,Allerton,7140.063793,3.398434e+06,322.006842,65019.941176,3117.473684,62141.291295
1,Alley Pond Park,17881.502895,1.120529e+07,1406.462727,111013.600000,4118.636364,107518.289372
2,Annadale-Huguenot-Prince's Bay-Woodrow,21803.742105,2.008474e+07,192.053684,128799.947368,5090.315789,126245.529571
3,Arden Heights-Rossville,21029.088085,2.196515e+07,195.406667,125170.384615,4266.533333,123022.836526
4,Astoria (Central),6523.232930,1.882701e+06,83.644643,95523.148148,3012.892857,99753.770961
...,...,...,...,...,...,...,...
257,Windsor Terrace-South Slope,7259.128733,3.918500e+06,343.107000,149138.833333,2884.850000,142219.077040
258,Woodhaven,7562.115845,3.207549e+06,243.240476,77661.666667,2885.523810,74809.918179
259,Woodlawn Cemetery,11861.660877,1.005005e+07,439.516250,71065.333333,2194.500000,61239.814878
260,Woodside,8653.792825,3.124062e+06,322.753750,78106.827586,3329.875000,77868.121044
261,Yankee Stadium-Macombs Dam Park,8590.962144,3.396973e+06,157.004286,42240.000000,6300.285714,41990.773933

In [19]:
#result.to_csv('Income.csv', index=False)